body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
button {
    cursor: pointer;
}
.gridContainer{
    display: flex;
    flex-direction: column;
    border: solid red;
    width: 500px;
    height: 500px;
    flex: 0 1 auto;
}

.gridContainer p {
    display: flex;
    flex: 1;
    margin: 0;
}

.gridContainer div {
    display: flex;
    flex: 1;
}

.buttonContainer {
    display: flex;
    margin-top: 20px;
    margin-bottom: 10px;
    padding: 20px;
    border: 1px solid black;
}

.colorContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 1px solid black;
    width: 400px;
    height: 50px;
}

.colorContainer button{
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 10px;
}

.black{
    background-color: black;
}
.red {
    background-color: red;
}
.blue {
    background-color: blue;
}
.yellow {
    background-color: yellow;
}
.green{
    background-color: green;
}
.purple{
    background-color: Purple;
}
.rainbow img {
    border-radius: 10px;
}
.rainbow {
    padding: 0px;
}

